MONGODB_AUTH_URI=mongodb+srv://<user>:<pass>@cluster-auth.mongodb.net/?retryWrites=true&w=majority
MONGODB_AUTH_DB=catalog_auth
MONGODB_PRODUCT_URI=mongodb+srv://<user>:<pass>@cluster-product.mongodb.net/?retryWrites=true&w=majority
MONGODB_PRODUCT_DB=catalog_product
